body {
  margin: 20px;
  background-color: rgb(164, 194, 168);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgb(96, 49, 64);
  height: 50px;
}
.footer {
  background-color: rgb(96, 49, 64);
  height: 100px;
  display: flex;
  padding-right: 10px;
  justify-content: space-between;
}
header {
  padding: 10px;
}

footer {
  margin-top: auto;
}

li a {
  display: block;
  flex: 0 1 calc(100% / 3);
  color: black;
}

li a:hover {
  color: rgb(96, 49, 64);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

header ul {
  display: flex;
  flex-direction: row;
}
ul button {
  flex: 0 1 calc(100% / 3);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(164, 175, 105);
}

button:hover {
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  transition: 500ms;
}

.disabled-button {
  background-color: rgba(164, 175, 105, 0.5);
}

.disabled-button:hover {
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  color: black;
  cursor: default;
}

.footer-img {
  display: block;
  height: 100px;
  border: solid black 4px;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer div p {
  color: rgb(173, 182, 196);
  text-shadow: 2px 2px black;
  flex-basis: auto;
  margin: 3px;
  max-height: 16px;
}

main {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}
main section {
  flex: 1 1 80%;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

main aside {
  flex: 1 0 20%;
  display: flex;
  flex-direction: column;
  min-width: 148.2px;
}

section div {
  background-color: rgba(164, 175, 105, 0.5);
  border: solid black 1px;
  flex: 1 0 calc(50% - 18px);
  min-height: 200px;
  width: 50px;

  padding: 6px 10px 6px 10px;
  margin: 4px 4px 4px 4px;
}

section div:nth-child(5n + 2) {
  flex: 1 0 calc(100% - 28px);
}

aside figure {
  background-color: rgba(164, 175, 105, 0.5);
  border: solid black 1px;
  flex: 0 1 100%;
  height: auto;
  margin-top: 4px;
  padding: 5px 5px 5px 5px;
}

h5 {
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
  line-height: 40px;
}

@media (max-width: 780px) {
  main section {
    padding-right: 0px;
  }
  section div:nth-child(5n + 2) {
    flex: 1 0 calc(100% - 28px);
  }
  section div {
    flex: 1 1 calc(50% - 18px);
    width: 50px;
  }
  main aside {
    flex-direction: row;
    flex-wrap: wrap;
  }
  aside figure {
    flex: 1 1 calc(50% - 18px);
    min-height: 148px;
    margin: 4px 4px 4px 4px;
  }
}
@media (max-width: 550px) {
  section div {
    flex: 0 0 100%;
  }
  main section {
    max-width: 280;
  }
  section div:nth-child(5n + 2) {
    flex: 1 0 100%;
  }
}
