body {
  margin: 20px;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #9ee6c2;
  height: 50px;
}
.footer {
  background-color: #9ee6c2;
  height: 100px;
  display: flex;
  padding-right: 10px;
  justify-content: space-between;
}
header {
  padding: 10px;
}

footer {
  margin-top: auto;
}

li a {
  display: block;
  flex: 0 1 calc(100% / 3);
  color: black;
}

li a:hover {
  color: black;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

header ul {
  display: flex;
  flex-direction: row;
}
ul button {
  flex: 0 1 calc(100% / 3);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  -ms-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  transition: 200ms;
  background-color: #d3d3d3;
}

.disabled-button {
  background-color: #9ee6c248;
}

.disabled-button:hover {
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  color: black;
  cursor: default;
  background-color: #9ee6c248;
}

.footer-img {
  display: block;
  height: 100px;
  border: solid black 4px;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer div p {
  flex-basis: auto;
  margin: 3px;
  max-height: 16px;
}

main {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}
main section {
  flex: 1 1 80%;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-content: flex-start;
}

main aside {
  flex: 1 0 20%;
  display: flex;
  flex-direction: column;
  min-width: 148.2px;
}

section div {
  background-color: #9ee6c248;
  border: solid black 1px;
  flex: 1 0 calc(50% - 18px);
  min-height: 200px;
  width: 50px;

  padding: 6px 10px 6px 10px;
  margin: 4px 4px 4px 4px;
}

section div:nth-child(5n + 2) {
  flex: 1 0 calc(100% - 28px);
}

aside figure {
  background-color: #f2f2f2;
  border: solid black 1px;
  flex: 0 1 100%;
  height: auto;
  margin-top: 4px;
  padding: 5px 5px 5px 5px;
}

h5 {
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
  max-height: 40px;
}

/* BEGINNING OF FOR SALE PAGE */
.vertical-menu {
  width: 280px;
  padding-right: 10px;
}

.vertical-menu a {
  background-color: #d6f6e1;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover,
#back-to-top:hover {
  background-color: #d3d3d3;
}
#back-to-top:hover {
  color: black;
}

.img-fluid {
  width: 50%;
  border-radius: 5px;
}
.img-scale:hover {
  -ms-transform: scale(1.5, 1.5) translate(20px, 20px);
  -webkit-transform: scale(1.5, 1.5) translate(20px, 20px);
  transform: scale(1.5, 1.5) translate(20px, 20px);
  transition: 200ms;
}

section article {
  display: flex;
  flex-direction: column;
  background-color: #9ee6c248;
  border: solid rgb(42, 43, 46) 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex: 1 0 calc(50% - 30px);
  min-height: 200px;
  width: 50px;
  position: relative;

  padding: 6px 10px 6px 10px;
  margin: 4px 4px 4px 4px;
}
section.products {
  padding-right: 0px;
  flex: 1 1 460px;
}

article b.products {
  margin-left: 0px;
  font-size: large;
}

nav a {
  position: absolute;
  bottom: 0px;
  right: 10px;
  color: rgb(42, 43, 46);
}
@media (max-width: 780px) {
  main section {
    padding-right: 0px;
  }
  section div:nth-child(5n + 2) {
    flex: 1 0 calc(100% - 28px);
  }
  section div {
    flex: 1 1 calc(50% - 18px);
    width: 50px;
  }
  main aside {
    flex-direction: row;
    flex-wrap: wrap;
  }
  aside figure {
    flex: 1 1 calc(50% - 18px);
    min-height: 148px;
    margin: 4px 4px 4px 4px;
  }
  section.products {
    flex: 1 1 100%;
  }
}

@media (max-width: 550px) {
  section div {
    flex: 0 0 100%;
  }
  main section {
    max-width: 280;
  }
  section div:nth-child(5n + 2) {
    flex: 1 0 100%;
  }
  section article {
    min-width: 255px;
  }
}
@media (max-width: 465px) {
  .form-container {
    display: flex;
    flex-direction: column;
    max-width: 425 px;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 329px;
}
.submit-button {
  margin-inline-start: auto;
}
textarea {
  max-width: 261px;
}
.form-header {
  font-weight: 500;
  width: 100px;
  margin-bottom: 5px;
}

.text-form {
  margin-bottom: 3px;
}
input.name-email {
  width: 200px;
}
::placeholder {
  font-weight: 300;
}
p.reason-radio {
  margin-bottom: 5px;
}
.reason-radio {
  width: 200px;
}
.radio-label {
  width: 150px;
}
.submit-button {
  display: block;
  float: right;
}
